body {
    font-family: 'Joan', serif;
    font-size: 16px;
    color: #00008b;
}

.navbar-brand a{
    font-family: 'Joan', serif;
    color: #00008b;
}
.navbar {
    padding-bottom: 10px;
}

/* Blog stylings*/
.card, .card-title, .card-text{
    color: #00008b;
    
}
.card-title {
    text-align: center;
    font-family: 'Pangolin', cursive;
}
.card-text {
    font-family: 'Poiret', cursive;

}
.btn-primary {
    text-align: center;
    padding: 15px 20px;
    margin: 30px auto;
    display: block;
}
.card {
    padding: 0 0 0 auto;
}

/*Main page stylings that can be universal if they want */
h1, h2, h3,
h4, h5, h6 {
    font-family: 'Pangolin', cursive;
}

.fakeimg {
    width: 200px;
    height: 200px;;
}
.fancyfeet {
    font-family: 'Splash', cursive;
}

